# version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: viewora_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: viewora_redis
    ports:
      - "6379:6379"

  backend:
    build: .
    container_name: viewora_backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
    volumes:
    - .:/app
    - media_data:/app/media

volumes:
  postgres_data:
  media_data:
